# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# SQLite database
BACKEND/*.db

# Excel analysis reports
BACKEND/*.xlsx

# Dataset ZIP
DATASET/*.zip

# Trained ML models
BACKEND/*.pkl